@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400normal');

.cinzel {
    font-size: 2em;
    font-family: Cinzel, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nolink {   
    text-decoration: none;
    color: black;
}

.nolink:hover {   
    text-decoration: none;
    color: black;
}

div#container {
    margin: 20px auto;
    width: 800px;
    font-size: 1.3em;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;    
}

.undertitle {
    font-style: italic;
}



p { margin-bottom: 50px }

dt { font-weight: normal; padding-top: 8px }

dl { margin-left: +10px }

dl.publist dt {
    font-weight: bold; font-size: 1.1em;
}

.dobullet {
    margin-left: +10px;
    display: list-item;
    list-style: none;
}

.dobullet:before {
    content: "- ";
    vertical-align: middle;
    line-height: 20px;
}

.bold { font-weight: bold }

ul { margin-top: 5px }

.sec_header {
    font-family: Cinzel, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;  
}

a.link {
    width: 40px;
}

.myButtonLink {
    margin-left: 5px;
	display: inline-block;
	width: 22px;
	height: 20px;
	background: url('../images/link2.png') bottom;
	text-indent: -99999px;
}

.myButtonLink:hover {
	background-position: 0 0;
}